body {
  background-color: transparent;
}

/*-------my Css--------*/

.lgp-logo img {
  width: 40%;
  display: block;
  float: left;
}

.lgp-logo ._content {
  width: 60%;
  display: block;
  float: left;
  font-size: 40px;
  height: 180px;
  text-align: center;
  line-height: 180px;
  font-family: 'Indie Flower', cursive;
}

.img-avatar-in-mng-users {
  width: 20px;
  height: 20px;
}

